Hire an employee:
<div>
    <div class="employee-panel" *ngFor="let c of candidates">
        <div class="employee-panel-header">
            {{c.name}}
        </div>
        <div class="employee-panel-body">
            picture here
        </div>
        <div class="employee-panel-footer">
            <button (click)="hireCandidate(c)">Hire</button>
        </div>
    </div>
</div>

<hr>
Or fire one:
<div>
    <div class="employee-panel" *ngFor="let employee of employees">
        <div class="employee-panel-header">
            {{employee.name}}
        </div>
        <div class="employee-panel-body">
            picture here
        </div>
        <div class="employee-panel-footer">
            <button (click)="fireEmployee(employee)">Fire</button>
        </div>
    </div>
</div>

<div *ngIf="error!==''">{{error}}</div>