<div class="sidebar">
    <button class="sidebar-item clickable misc">
        {{game.store.name}}
    </button>
    <p class="sidebar-item">
        <app-money [money]=game.store.money></app-money>
        <br><app-money class="smaller-text" [money]=getFlow() [colored]="true" [signed]="true"></app-money>
    </p>
    <div class="sidebar-divider"></div>
    <p class="sidebar-item">
        {{game.month}}/{{game.day}}/{{game.year}}
        <br><span class="smaller-text">Week {{getWeek()}}</span>
    </p>
    <div class="sidebar-divider"></div>
    <div class="time-control-group">
        <svg width="16.589mm" height="15.347mm" class="sidebar-item clickable time-control time-control-pause active" version="1.1" viewBox="0 0 16.589 15.347" xmlns="http://www.w3.org/2000/svg" (click)="setSpeed(0)">
            <g transform="translate(-.27275 -.29818)" fill="currentColor">
                <rect x=".27275" y=".29818" width="6.2098" height="15.347" stroke-width=".16188"/>
                <rect x="10.674" y=".29818" width="6.2097" height="15.347" stroke-width=".16188"/>
            </g>
        </svg>
        <svg width="18.113mm" height="20.916mm" class="sidebar-item clickable time-control time-control-play" version="1.1" viewBox="0 0 18.113 20.916" xmlns="http://www.w3.org/2000/svg" (click)="setSpeed(1)">
             <path transform="translate(-9.3085 -55.609)" d="m27.695 66.365-18.113 10.458-5e-7 -10.458 5e-7 -10.458 9.0567 5.2289z" fill="currentColor" stroke-width=".26458"/>
        </svg>
        <svg width="28.928mm" height="20.916mm" class="sidebar-item clickable time-control time-control-double" version="1.1" viewBox="0 0 28.928 20.916" xmlns="http://www.w3.org/2000/svg" (click)="setSpeed(2)">
            <g transform="translate(-.27275 -.29818)" stroke-width=".26458" fill="currentColor">
                <path transform="translate(-9.3085 -55.609)" d="m27.695 66.365-18.113 10.458-5e-7 -10.458 5e-7 -10.458 9.0567 5.2289z"/>
                <path transform="translate(1.506 -55.609)" d="m27.695 66.365-18.113 10.458-5e-7 -10.458 5e-7 -10.458 9.0567 5.2289z"/>
            </g>
        </svg>
        <svg width="39.791mm" height="20.97mm" class="sidebar-item clickable time-control time-control-triple" version="1.1" viewBox="0 0 39.791 20.97" xmlns="http://www.w3.org/2000/svg" (click)="setSpeed(3)">
            <g transform="translate(-.27275 -.29818)" stroke-width=".26458" fill="currentColor">
                <path transform="translate(-9.3085 -55.609)" d="m27.695 66.365-18.113 10.458-5e-7 -10.458 5e-7 -10.458 9.0567 5.2289z"/>
                <path transform="translate(1.506 -55.609)" d="m27.695 66.365-18.113 10.458-5e-7 -10.458 5e-7 -10.458 9.0567 5.2289z"/>
                <path transform="translate(12.369 -55.555)" d="m27.695 66.365-18.113 10.458-5e-7 -10.458 5e-7 -10.458 9.0567 5.2289z"/>
            </g>
        </svg>
    </div>
    <div class="sidebar-divider"></div>
    <button class="sidebar-item clickable" (click)="selectMenu('research')">
        Research
    </button>
    <button class="sidebar-item clickable" (click)="selectMenu('personnel')">
        Personnel
    </button>
    <button class="sidebar-item clickable" (click)="selectMenu('departments')">
        Departments
    </button>
    <div class="sidebar-divider"></div>
    <button class="sidebar-item clickable misc" (click)="saveGame()">Save</button>
    <button class="sidebar-item clickable misc" (click)="saveGameAs()">Save As</button>
    <button class="sidebar-item clickable misc" (click)="saveAndExit()">Main Menu</button>
    <button class="sidebar-item clickable misc" (click)="addExpense(500)">Add Expense</button>
    <button class="sidebar-item clickable misc" (click)="addExpense(-500)">Add Negative Expense</button>
    <button class="sidebar-item clickable misc" (click)="game.store.addSqFt(12000)">Add 12000 Sqft</button>
</div>
<div class="content">
    <app-research-tree *ngIf="menuSelected=='research'"></app-research-tree>
    <app-personnel *ngIf="menuSelected=='personnel'"></app-personnel>
    <app-department-grid *ngIf="menuSelected=='departments'"></app-department-grid>
</div>
<div class="console" [hidden]="!isDebug()">
    <label for="command">Command:</label>
    <input type="text" name="command" class="console-input">
</div>
<app-finances></app-finances>