@import 'src/_variables.sass'

:host
    text-align: center
    width: 100%

li
    list-style: none
    margin-bottom: 1.5em
    font-size: 1.25em
    cursor: pointer
    background-color: $secondary-background-color
    margin: 10px auto
    padding: 10px
    max-width: 400px
    border: solid 1px black
    border-radius: 3px

li:hover
    filter: brightness(80%)

ul
    padding: 0

h1
    font-size: 8em
    text-shadow: 5px 5px black

.continue-game-button
    background-color: #070
    padding: 15px 10px
    margin-bottom: 15px