<div class="sidebar">
    <p class="sidebar-item">
        ${{formattedMoney()}}
    </p>
    <p class="sidebar-item">
        {{month}}/{{day}}/{{year}}
    </p>
    <div class="time-control-group">
        <img src="assets/pause.png" class="sidebar-item clickable time-control" alt="Pause" width="16" (click)="setSpeed(0)">
        <img src="assets/normal_speed.png" class="sidebar-item clickable time-control" alt="Play/1x Speed" width="16" (click)="setSpeed(1)">
        <img src="assets/double_speed.png" class="sidebar-item clickable time-control" alt="2x Speed" width="16" (click)="setSpeed(2)">
    </div>
    <div class="sidebar-divider"></div>
    <p class="sidebar-item clickable" (click)="selectMenu('research')">
        Research
    </p>
    <p class="sidebar-item clickable" (click)="selectMenu('personnel')">
        Personnel
    </p>
    <p class="sidebar-item clickable" (click)="selectMenu('departments')">
        Departments
    </p>
</div>
<div class="content">
    <app-research-tree *ngIf="menuSelected=='research'"></app-research-tree>
</div>
